.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: rgb(243, 240, 255);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.ticketEditdesc {
    width: 80%;
}

#ticketEdit--description {
    height: 10rem; 
  }